<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item h5">
				<a class="nav-link {{ 'active' if request.endpoint == 'dashboard.dashboard'}}" aria-current="page" href="{{ url_for('dashboard.dashboard') }}">
					<span data-feather="home"></span>
					<i class="bi-house-fill"></i> Home
				</a>
			</li>
		</ul>
		<ul class="nav flex-column mb-2">
			<li class="nav-item h5">
				<a class="nav-link {{ 'active' if request.endpoint == 'demo.demo'}}" aria-current="page" href="{{ url_for('demo.demo') }}">
					<span data-feather="home"></span>
					<i class="bi-arrow-right-square-fill"></i> Demo
				</a>
			</li>
			<li class="nav-item h5">
				<a class="nav-link {{ 'active' if request.endpoint == 'about.about'}}" aria-current="page" href="{{ url_for('about.about') }}">
					<span data-feather="home"></span>
					<i class="bi-info-circle-fill"></i> About
				</a>
			</li>
		</ul>
	</div>
</nav>
